<ion-content>
  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <div class="user_div">
      <div class="first_div">
        <ion-label class="welcome">Welcome</ion-label>
        <ion-label class="username">{{loggedUser.firstName}}</ion-label>
      </div>
      <div class="user_back">
        <img src="assets/imgs/user.png" />
      </div>
    </div>

    <div class="content_div animated bounceInUp">
      <ion-label
        class="reminder-label"
        *ngIf="glucoseReminder!=null||insulinReminder!=null"
        >REMINDERS</ion-label
      >
      <ion-label class="reminder-label" *ngIf="glucoseReminder!=null">
        {{glucoseReminder}}</ion-label
      >
      <ion-label
        class="reminder-label"
        *ngIf="insulinReminder!=null && userService.userDetails.diabetesType == 'Type 1'"
      >
        {{insulinReminder}}</ion-label
      >
      <ion-label class="hello_label">MENU</ion-label>
      <ion-grid fixed>
        <ion-col size="6" *ngFor="let log of options">
          <div
            class="col_div"
            routerLink="{{log.route}}"
            *ngIf="!(log.name=='Insulin Injection' && userService.userDetails.diabetesType == 'Type 1')"
          >
            <img src="{{log.img}}" />
            <ion-label>{{log.name}}</ion-label>
          </div>
        </ion-col>
      </ion-grid>
    </div>
  </div>
</ion-content>
