<ion-content>
  <ion-row class="container-buttons">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <h1>Add<br />An Appointment</h1>
  </ion-row>
  <ion-item class="title-container">
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item class="description-container">
    <ion-label position="stacked">Description</ion-label>
    <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item>
  <ion-col class="ion-text-center">
    <h2>{{ viewTitle }}</h2>
  </ion-col>
  <calendar
    *ngIf="modalReady"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    lockSwipes="true"
  >
  </calendar>
</ion-content>
