<ion-content>
  <ion-item class="header">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-item>
  <div class="title-prediction">
    <h1>Diabetes Prediction</h1>
  </div>
  <form [formGroup]="predictionForm">
    <ion-label position="relative">Pregnancies</ion-label>
    <ion-input
      formControlName="pregnancies"
      type="number"
      placeholder="Pregnancies"
    ></ion-input>
    <span class="error ion-padding" *ngIf="pregFieldHasError()">
      Number of pregnancies is required.
    </span>
    <ion-label position="relative">Glucose</ion-label>
    <ion-input
      formControlName="glucose"
      type="number"
      placeholder="Plasma glucose concentration"
    ></ion-input>
    <span class="error ion-padding" *ngIf="bloodFieldHasError()">
      Number of plasma glucose concentration is required.
    </span>
    <ion-label position="relative">Blood pressure</ion-label>
    <ion-input
      formControlName="bloodPressure"
      type="number"
      placeholder="Diastolic blood pressure (mm Hg)"
    ></ion-input>
    <span class="error ion-padding" *ngIf="bloodFieldHasError()">
      Blood pressure is required.
    </span>
    <ion-label position="relative">Skin thickness</ion-label>
    <ion-input
      formControlName="skinThickness"
      type="number"
      placeholder="Triceps skin fold thickess (mm)"
    ></ion-input>
    <span class="error ion-padding" *ngIf="skinFieldHasError()">
      Skin thickness is required.
    </span>
    <ion-label position="relative">Insulin</ion-label>
    <ion-input
      formControlName="insulin"
      type="number"
      placeholder="2-Hour serum insulin (muU/ml)"
    ></ion-input>
    <span class="error ion-padding" *ngIf="insulinFieldHasError()">
      Insulin is required.
    </span>
    <ion-label position="relative">Weight</ion-label>
    <ion-input
      formControlName="weight"
      type="number"
      placeholder="Weight in kg"
    ></ion-input>
    <span class="error ion-padding" *ngIf="weightFieldHasError()">
      Weight is required.
    </span>
    <ion-label position="relative">Height</ion-label>
    <ion-input
      formControlName="height"
      type="number"
      placeholder="Height in m"
    ></ion-input>
    <span class="error ion-padding" *ngIf="heightFieldHasError()">
      Height is required.
    </span>
    <ion-label position="relative">Diabetes pedigree function</ion-label>
    <ion-input
      formControlName="pedigreeFunction"
      type="number"
      placeholder="Diabetes pedigree function"
    ></ion-input>
    <span class="error ion-padding" *ngIf="pedigreeFieldHasError()">
      Diabetes pedigree function is required.
    </span>
    <ion-label position="relative">Age</ion-label>
    <ion-input
      formControlName="age"
      type="number"
      placeholder="Age"
    ></ion-input>
    <span class="error ion-padding" *ngIf="ageFieldHasError()">
      Age is required.
    </span>
  </form>
  <ion-button type="submit" *ngIf="!predictedResult" (click)="onSubmit()"
    >Predict</ion-button
  >
  <div class="buttom" *ngIf="!predictedResult">
    <h3 routerLink="/login">Check normal values for the above parameters</h3>
  </div>
  <ion-item class="prediction-result" *ngIf="predictedResult">
    <ion-label>{{predictedResult}}</ion-label>
  </ion-item>
</ion-content>
