ion-content {
  --background: #1d1eb7;
  border-left: 7px solid #ffde59;

  .header {
    --background: #1d1eb7;
    color: beige;
  }

  ion-menu-button {
    background-color: #1d1eb7;
    border: none;
    color: white;
  }

  .title-prediction {
    padding: 0 12vw;
    margin-top: 2em;
    color: #fff;

    h3 {
      font-size: 1.1em;
      color: #9d9bef;
      span {
        color: #fff;
      }
    }

    h1 {
      font-size: 2.2em;
      font-weight: 400;
    }
    margin-bottom: 20px;
  }

  .filter-buttons {
    --background: #1d1eb7;
    background-color: #1d1eb7;
    display: flex;
    justify-content: space-between;

    ion-button {
      border-radius: 25px;
      --background: #1d1eb7;
      background-color: #1d1eb7;
      color: #9d9bef;
      margin-bottom: 25px;
      --box-shadow: none;
      width: 75px;
      font-size: 10px;
    }
  }

  .logs-list {
    margin-bottom: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    ion-label {
      margin-left: 10px;
      font-size: 1.1em;
      color: #9d9bef;
      white-space: inherit;
    }
  }
}
