ion-app {
  ion-menu {
    ion-toolbar {
      --background: #1d1eb7;

      ion-title {
        color: white;
        font-weight: 400;
      }
    }
  }

  ion-content {
    --background: #1d1eb7;

    ion-list {
      background-color: #1d1eb7;

      ion-item {
        margin-bottom: 10px;
        --background: #1d1eb7;
        color: white;
      }
    }
  }
}
