ion-content {
  --background: #1d1eb7;
  border-left: 7px solid #ffde59;

  .header {
    --background: #1d1eb7;
    color: beige;

    ion-menu-button {
      background-color: #1d1eb7;
      border: none;
    }
  }
  .content {
    padding: 0 5vw 0 12vw;
    margin-top: 2em;
    color: #fff;

    h3 {
      font-size: 1.1em;
      color: #9d9bef;
      span {
        color: #fff;
      }
    }

    h1 {
      font-size: 2.2em;
      font-weight: 400;
      color: white;
    }

    ion-buttons {
      margin-top: 10px;
      float: right;

      ion-button {
        border-radius: 12vw;
        background-color: #9d9bef;
      }
    }
  }

  ion-segment {
    margin-top: 30px;
  }

  .slide-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
      width: 50px;
      border-radius: 12vw;
      background-color: #9d9bef;
    }
  }

  .event-form {
    margin-top: 90px;

    ion-row {
      h3 {
        font-size: 1.8em;
        color: #9d9bef;
        padding: 0 5vw 0 12vw;
        margin-bottom: 20px;
      }
    }

    ion-item {
      --background: #1d1eb7;

      ion-label {
        margin-bottom: 8px;
        font-size: 1.5em;
        color: #9d9bef;
      }

      ion-input {
        --background: #3534be;
        height: 55px;
        border-radius: 25px;
        --placeholder-color: #9d9bef;
      }

      ion-datetime {
        background-color: #3534be;
        color: #9d9bef;
        border-radius: 25px;
      }
    }

    .add-button {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      background-color: #1d1eb7;
      --background: #9d9bef;
      border: none;
      --border-radius: 25px;
      height: 55px;
    }
  }

  .indicator-container {
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
  }
}

:host ::ng-deep {
  .monthview-container {
    height: 50% !important;
  }

  .event-detail-container {
    background-color: #1d1eb7;
    background: #1d1eb7;
    padding: 12px;
  }

  .monthview-selected {
    background-color: var(--ion-color-success) !important;
  }

  .event-indicator {
    background: var(--ion-color-success);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }

  .with-event {
    background-color: var(--ion-color-primary);
    border-radius: 15px;
  }
}
