<ion-content>
  <ion-item class="header">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-item>
  <div class="content">
    <h1>Track<br />Your Events</h1>
  </div>
  <ion-segment [(ngModel)]="calendar.mode" *ngIf="!showAddEvent">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="showAddEvent" class="event-form">
    <ion-row>
      <h3>Add An Appointment</h3>
    </ion-row>

    <ion-item class="title-container">
      <ion-label position="stacked">Title</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="newEvent.title"
        placeholder="Title"
      ></ion-input>
    </ion-item>

    <ion-item class="description-container">
      <ion-label position="stacked">Description</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="newEvent.description"
        placeholder="Description"
      ></ion-input>
    </ion-item>

    <ion-item class="start-date-container">
      <ion-label position="stacked">Start Date</ion-label>
      <ion-datetime
        cancelText="Cancel"
        displayFormat="DD/MM/YYYY HH:mm"
        pickerFormat="MMMM DHH:mm"
        [(ngModel)]="newEvent.startTime"
        [min]="minDate"
      ></ion-datetime>
    </ion-item>

    <ion-item class="end-date-container">
      <ion-label position="stacked">End Date</ion-label>
      <ion-datetime
        cancelText="Cancel"
        displayFormat="DD/MM/YYYY HH:mm"
        pickerFormat="MMMM DHH:mm"
        [(ngModel)]="newEvent.endTime"
        [min]="minDate"
      ></ion-datetime>
    </ion-item>

    <ion-button class="add-button" expand="block" (click)="addEvent()"
      >Add Event</ion-button
    >
  </div>

  <ion-row *ngIf="!showAddEvent" class="slide-buttons">
    <!-- Move back one screen of the slides -->
    <ion-col>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
    *ngIf="!showAddEvent"
    id="myCal"
    [eventSource]="allEvents"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    [monthviewDisplayEventTemplate]="template"
  >
  </calendar>
  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div
          class="event-indicator"
          *ngFor="let e of view.dates[row*7+col].events"
        ></div>
      </div>
    </div>
  </ng-template>
<ion-buttons>
  <ion-button (click)="deleteEvent()" *ngIf="!showAddEvent">Remove</ion-button>
  <ion-button (click)="openEventForm()" *ngIf="!showAddEvent">Add</ion-button>
  <ion-button class="close-button" (click)="openEventForm()" *ngIf="showAddEvent">Close</ion-button>
</ion-buttons>
</ion-content>
