ion-content {
  --background: #1d1eb7;
  border-left: 7px solid #ffde59;

  .header {
    --background: #1d1eb7;
    color: beige;

    ion-menu-button {
      background-color: #1d1eb7;
      border: none;
      color: white;
    }
  }

  .user_div {
    padding: 20px;
    width: 100%;
    background: #1d1eb7;
    display: flex;
    justify-content: space-between;

    .first_div {
      h3 {
        font-size: 1.1em;
        color: #9d9bef;
        span {
          color: #fff;
        }
      }

      h1 {
        font-size: 2.2em;
        font-weight: 400;
        color: #fff;
      }
    }

    .user_back {
      margin-right: 60px;
      height: 100px;
      width: 80px;
    }
  }

  .profile-fields {
    background: #1d1eb7;
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    ion-label {
      font-size: 1.1em;
      color: white;
    }

    ion-input {
      --background: #3534be;
      --padding-start: 33px;
      height: 55px;
      border-radius: 25px;
      margin-bottom: 22px;
      --placeholder-color: #9d9bef;
      --color: white;
      width: 300px;
    }

    ion-select {
      --background: #3534be;
      border-radius: 25px;
      margin-bottom: 22px;
      color: white;
      width: 300px;
    }

    ion-checkbox {
      --background: #3534be;
      --padding-start: 33px;
      height: 25px;
      border-radius: 25px;
      margin-bottom: 22px;
      --color: white;
    }

    ion-label::after {
      content: "*";
      color: red;
    }
  }

  .update-button {
    width: 50vw;
    background-color: #ffde59;
    margin-bottom: 15px;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: flex-end;
    color: #363636;
  }

  // ion-button {
  //   background-color: #ffde59;
  //   border: none;
  // }
}
