<ion-content>
  <ion-item class="header">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-item>
  <div class="user_div">
    <div class="first_div">
      <h1>Your Profile<br>{{userDetails.firstName}}</h1>
    </div>
    <div class="user_back">
      <img src="assets/imgs/user.png" />
    </div>
  </div>
  <ion-list class="profile-fields">
    <ion-label position="relative">First Name</ion-label>
    <ion-input type="text" placeholder="First Name" value="{{userDetails.firstName}}">
    </ion-input>
    <ion-label position="relative">Last Name</ion-label>
    <ion-input type="text" placeholder="Last Name" value="{{userDetails.lastName}}">
    </ion-input>
    <ion-label position="relative">Email</ion-label>
    <ion-input type="email" placeholder="Email" value="{{userDetails.email}}"></ion-input>
    <ion-label position="relative">Date of Birth</ion-label>
    <ion-input type="date" max="todayDate" value="{{userDetails.dateOfBirth}}"></ion-input>
    <ion-label position="relative">Username</ion-label>
    <ion-input type="text" placeholder="Username" value="{{userDetails.username}}"></ion-input>
  </ion-list>
</ion-content>
