<ion-content>
  <ion-item class="header">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-item>
  <div class="user_div">
    <div class="first_div">
      <h1>Your Profile<br>{{userDetails.firstName}}</h1>
    </div>
    <div class="user_back">
      <img src="assets/imgs/user.png" />
    </div>
  </div>
  <ion-list>
      <ion-label>Username</ion-label>
      <p>{{userDetails.username}}</p>
      <ion-label>Email</ion-label>
      <ion-input>{{userDetails.email}}</ion-input>
      <ion-label>Date of Birth</ion-label>
      <p>{{userDetails.dateOfBirth}}</p>
      <ion-label>Has diabetes</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="hasDiabetes">
        <ion-select-option *ngFor="let option of answers" value="{{option.name}}">{{option.name}}
        </ion-select-option>
      </ion-select>
      <ion-label>Diabetes Type</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="diabetesType">
        <ion-select-option *ngFor="let option of diabetesType" value="{{option.name}}">{{option.name}}
        </ion-select-option>
      </ion-select>
      <ion-label>Does it take insulin?</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="takesInsulin">
        <ion-select-option *ngFor="let option of answers" value="{{option.name}}">{{option.name}}
        </ion-select-option>
      </ion-select>
  </ion-list>
</ion-content>
